<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/movies/<%= id%>" method="post">
        <input type="input" name="name" />
        <button type="submit">Edit</button>
    </form>
    <form action="/movies/add/" method="post">
        <label for="name">Name</label>
        <input type="input" name="name" />
        <label for="year">Year</label>
        <input type="input" name="year" />
        <label for="genre">Genre</label>
        <input type="input" name="genre" />
        <label for="runTime">Run Time</label>
        <input type="input" name="runTime" />
        <button type="submit">Add</button>
    </form>
    <form action="/movies/delete" method="post">
        <label for="delete">Delete</label>
        <input type="input" name="id" placeholder="id to delete"  />
        <button type="submit">Delete</button>
    </form>
</body>
</html>